header.header
    .header__column
        h1.header__title WeTube
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href='#') Join
            li
                a(href='#') Login
        